{% extends 'base.html' %}
{% load static %}
{% load render_partial %}


{% block main %}

<div class="container">
    {% render_partial 'song.views.header_part' %}
    <div class="main" id="main">
        <div class="text">
            <h1>مدیریت کننده ی مافیا</h1>
            <p>جایی که بازی مافیا به یک بازی جذاب تر تبدیل میشود</p>
            <a href="" class="btn_start_game">شروع بازی</a>
        </div>
        <img src="" alt="" class="img_main1">
        <img src="" alt="" class="img_main2">
    </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}