{% extends 'base.html' %}
{% load static %}


{% block main %}

<div class="container">
    <div class="mafia song_player">
        {% csrf_token %}
        <select name="song" id="select_song">
            {% for i in songs %}
            <option value="{{ i.id }}" {% if i == song %}  selected {% endif %}>{{ i.name }}</option>
            {% endfor %}
        </select>
        <div class="btns">
        <button type="submit" class="btn play">play</button>
        </div>
        <audio  class="player" src="{{ song.song.url }}"allow="autoplay" ></audio>
    </div>
    <div class="mafia timer one">
        <div class="timer_num">
            <p>0</p>
        </div>
        <div class="btns">
            <button>play</button>
            <button>stop</button>
            
        </div>
    </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}