:root {
  --bg_color: linear-gradient(90deg, #464646, #790101);
  --header_color: rgb(241, 241, 241);
  --btn_go_color:#be0000;
  --btn_signup_color:rgb(0, 207, 0);
  --btn_login_color:rgb(2, 90, 204);
}

@font-face {
  font-family: 'vazir';
  src: url(fonts/Vazirmatn-Medium.ttf);
  background: #790101;
}

body {
  background: var(--bg_color);
  min-height: 100vh;
  background-size: cover;
  margin: 0;
}

* {
  margin: 0;
  font-family: 'vazir';
}


header {
  width: 95%;
  height: 60px;
  position: fixed;
  top: 2%;
  display: flex;
  gap: 20px;
  background-color: var(--header_color);
  border-radius: 20px;
  right: 2.5%;
  backdrop-filter: blur(10px);
}

header nav {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row-reverse;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 3%;
  width: 70%;
  height: 100%;
  direction: rtl;
}

header nav ul li {
  list-style: none;
}


header nav ul li a {
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

header nav .left_part {
  width: 30%;
  display: flex;
  align-items: center;
  direction: ltr;
  padding-left: .5%;
  gap: 10px;
}

header nav .left_part .logo {
  width: 70px;
}

header nav .left_part button {
  width: 100px;
  height: 35px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: all 300ms ease;
  font-size: 20px;
}

header nav .left_part button.login {
  background-color: var(--btn_login_color);
  box-shadow: 0px 0px 10px var(--btn_login_color);
}

header nav .left_part button.signup {
  background-color: var(--btn_signup_color);
  box-shadow: 0px 0px 10px var(--btn_signup_color);
}

.container {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  align-content: center;
  position: absolute;
  bottom: 0;
}

.container .main{
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .main .text{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin-bottom: 5%;
}

.container .main .text h1{
  font-size: 80px;
  color: aliceblue; 
  margin: 0;
}

.container .main .text p{
  font-size: 40px;
  color: aliceblue; 
  margin: 0;
  max-width: 600px;
}

.container .main .text .btn_start_game{
  width: 225px;
  height: 60px;
  background-color: var(--btn_go_color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  text-decoration: none;
  color: aliceblue;
  border-radius: 10px;
  box-shadow: 0px 0px 20px var(--btn_go_color);
}
