html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; 
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}


textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; 
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:root {
    --color: rgba(255, 255, 255, 0.47);
}

@font-face {
    font-family: 'vazir';
    src: url(fonts/Vazirmatn-Medium.ttf);
}

body {
    background-image: url(img/والپیپر-فانتزی-طبیعت.jpg);
    height: 100vh;
    background-size: cover;
    margin: 0;
    animation: identifier 30s linear infinite;
}

* {
    margin: 0;
    font-family: 'vazir';
}

@keyframes identifier {
    0% {
        background-image: url(img/والپیپر-فانتزی-طبیعت.jpg);
    }

    15% {
        background-image: url(img/والپیپر-فانتزی-طبیعت.jpg);
    }

    25% {
        background-image: url(img/والپیپر-4k-مشکی.jpg);
    }

    40% {
        background-image: url(img/والپیپر-4k-مشکی.jpg);
    }

    50% {
        background-image: url(img/والپیپر-نئونی-خفن-4k.jpg);
    }

    65% {
        background-image: url(img/والپیپر-نئونی-خفن-4k.jpg);
    }

    75% {
        background-image: url(img/والپیپر-4k-جوکر-در-آتش.jpg);
    }

    90% {
        background-image: url(img/والپیپر-4k-جوکر-در-آتش.jpg);
    }

    100% {
        background-image: url(img/والپیپر-فانتزی-طبیعت.jpg);
    }
}

header {
    width: 95%;
    height: 80px;
    position: fixed;
    top: 2%;
    display: flex;
    gap: 20px;
    background-color: var(--color);
    border-radius: 20px;
    right: 2.5%;
    backdrop-filter: blur(10px);
}

header nav {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 3%;
    width: 70%;
    height: 100%;
    direction: rtl;
}

header nav ul li {
    list-style: none;
}


header nav ul li a {
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header nav .logo {
    width: 30%;
    display: flex;
    align-items: center;
    direction: ltr;
    padding-left: 2%;
}

.container {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
     align-content: center;
     position: absolute;
     bottom: 0;
}

.container .mafia {
    width: 500px;
    height: 300px;
    background-color: var(--color);
    border-radius: 40px;
    animation: identifier2 30s linear infinite;
    border-width: 4px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


@keyframes identifier2 {
    0% {
        border-color: rgb(9, 125, 202);
    }

    15% {
        border-color: rgb(9, 125, 202);
    }

    25% {
        border-color: red;
    }

    40% {
        border-color: red;
    }

    50% {
        border-color: rgb(215, 17, 205);
    }

    65% {
        border-color: rgb(215, 17, 205);
    }

    75% {
        border-color: rgb(195, 226, 18);
    }

    90% {
        border-color: rgb(195, 226, 18);
    }

    100% {
        border-color: rgb(9, 125, 202);
    }
}

.container .song_player #select_song {
    width: 80%;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    font-size: 20px;
}

.container .song_player #select_song option {
    text-align: center;
}

.btns {
    height: 20%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.btns .btn {
    width: 140px;
    height: 60px;
    background-color: transparent;
    border: 2px solid black;
    font-size: 30px;
    border-radius: 20px;
    cursor: pointer;
}



.num{
    font-size: 60px;
}

@media screen and (max-width:1087px) {
body{

    height: 100%;
}
}
