{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="preload" as="image" href="{% static 'img/والپیپر-فانتزی-طبیعت.jpg' %}">
    <link rel="preload" as="image" href="{% static 'img/والپیپر-4k-مشکی.jpg' %}">
    <link rel="preload" as="image" href="{% static 'img/والپیپر-نئونی-خفن-4k.jpg' %}">
    <link rel="preload" as="image" href="{% static 'img/والپیپر-4k-جوکر-در-آتش.jpg' %}">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">شروع بازی</a></li>
                <li><a href="{% url 'home' %}">درباره ی ما</a></li>
                <li><a href="{% url 'home' %}">ارتباط با ما</a></li>
            </ul>
            <div class="left_part">
                <img src="" class="logo" alt="">
                <button class="login">ورود</button>
                <button class="signup">ثبت نام</button>
            </div>
        </nav>
    </header>
    {% block main %}
    {% endblock %}
</body>

</html>